.header {
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .filename {
    max-width: 50%;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
  }

  .uploadbutton {
    text-align: left;

    label {
      cursor: pointer;
      background: #bebebe;
      border-radius: 4px;
      color: #1e1e1e;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      padding: 9px 24px;
    }

    input {
      width: 0px;
      visibility: hidden;
    }
  }
}
